body{
    background-color: pink;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}
h1{
    color: rgb(173, 125, 211);
}
p{
    color: rgb(194, 145, 235);
    font-size: 18px;
}
img{
    width: 200px;
}
.review {
    margin: 20px;
}

.review{
    background-color: ivory;
    width: 60%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 18px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin: 20px 0 30px 0;
}

.nav-button {
    background-color: ivory;
    color: rgb(173, 125, 211);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 999px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0,0,0,0.07);
    transition: all 0.2s ease;   
}

.nav-button:hover {
    background-color: rgb(173, 125, 211);
    color: ivory;
}
.nav-button{
    transition: all 0.2s ease;
}
.nav-button:hover {
    background-color: rgb(173, 125, 211);
    color: ivory;
    transform: translateY(-2px);
}

.logo {
    background: linear-gradient(135deg, #d8f3dc, #e6ffe6);

    border: 2px solid #cdeac0;
    border-radius: 30px;

    padding: 24px 32px;
    margin: 25px auto 35px auto;
    width: 82%;

    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}
  

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.logo h1 {
    color: #a98fd6;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}

.logo-icon {
    width: 52
    x;
    height: auto;
    transform: rotate(-8deg);
}
.logo {
    position: relative;
}
logo::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 10%;
    width: 80%;
    height: 10px;
    background: radial-gradient(circle, #b7e4c7 2px, transparent 2px);
    background-size: 12px 12px;
}


